# règles de base
constantes_privées.ps1

Documents/
Données/
QGis/
Rapports/
SQL.4Test/
SQL.4Qlik/

# API
/API/Outils/*.exe

# 3V
!/3V/Données/

# Cartes décoratives
!/Cartes décoratives/Données/

# OSM
!/OSM/Documents/

# Référentiel routier
/Référentiel routier/PowerShell/générer graflex.ps1
/Référentiel routier/PowerShell/préparer construction qualif.ps1

# Vaisala
!/Vaisala/Données/Liste des rapports Vaisala.csv

# Waze
/Waze/Ressources/Icones