# règles de base
constantes_privées.ps1

cartographier.ps1
créer vues 4Qlik.ps1

1erD_4h.ps1
D_4h.ps1
LàD_0hà0h_F10min_NonStop.ps1
LàD_0hà0h_F10min_Stop.ps1
LàS_4h.ps1
lancement manuel.ps1

Documents/
Données/
QGis/
Rapports/
SQL.4Test/
SQL.4Qlik/

# API
/API/Outils/*.exe

# 3V
!/3V/Données/

# Cartes décoratives
!/Cartes décoratives/Données/

# Référentiel routier
/Référentiel routier/PowerShell/générer graflex.ps1
/Référentiel routier/PowerShell/préparer construction qualif.ps1

# Vaisala
!/Vaisala/Données/

# Waze
/Waze/Ressources/Icones