# règles de base
constantes_privées.ps1

cartographier.ps1
créer vues 4Qlik.ps1

régulier.ps1
quotidien.ps1
hebdomadaire.ps1
lancement manuel.ps1

Documents/
Données/
Rapports/
SQL.4Test/
SQL.4Qlik/

# 3V
!/3V/Données/

# Référentiel routier
/Référentiel routier/PowerShell/générer graflex.ps1
/Référentiel routier/PowerShell/préparer construction qualif.ps1

# Cartes décoratives
/Cartes décoratives/Données/*.sql

# Waze
/Waze/Ressources/Icones